<form {{action "updateUser" on="submit"}}>
  {{input value=model.username placeholder="Username"}}<br>
  {{input value=model.nickname placeholder="Nickname"}}<br>
  {{input value=model.company placeholder="Place of business"}}<br>
  {{input value=model.phone placeholder="Phone number"}}<br>
  {{input value=model.email placeholder="Email Address"}}<br>
  <input type="submit">
</form>

{{outlet}}
