<div class="my-recipes">
  <h4>My Recipes:</h4>
  <div class="slider">
  <div {{action "gotoNew"}} class="recipe-square new">
    <span class="title">Add New...</span>
  </div>
  {{#each recipe in recipesMine }}
    <div {{action "gotoView" recipe}} class="recipe-square">
      <img {{bind-attr src="recipe.photoUrl"}}>
      <span class="title">{{recipe.name}}</span>
    </div>
  {{/each}}
</div>
</div>


<div class="public-recipes">
  <h4>Public Recipes:</h4>
  <div class="slider">
  {{#each recipe in recipesPublic }}
    <div {{action "gotoView" recipe}} class="recipe-square">
      <img {{bind-attr src="recipe.photoUrl"}}>
      <span class="title">{{recipe.name}}</span>
    </div>
  {{/each}}
  </div>
</div>


<div class="all-recipes">
  <h4>All Recipes:</h4>
  <div class="slider">
  {{#each recipe in model}}
    <div {{action "gotoView" recipe}} class="recipe-square">
      <img {{bind-attr src="recipe.photoUrl"}}>
      <span class="title">{{recipe.name}}</span>
    </div>
  {{/each}}
  </div>
</div>

{{outlet}}
