
<form>
{{input value=username placeholder="Username"}}
<br>
{{input type="password" value=password placeholder="Password"}}
<br>
{{#if model }}
  <button {{action "logout" user}}>Logout</button>
{{else}}
  <button {{action "login" user}}>Login</button>
{{/if}}
<button {{action "newUser" user}}>New?</button>
</form>



{{outlet}}
