<h1>{{model.name}}</h1>
{{model.author}}
<div class="add-photo">
  <img {{bind-attr src="model.photoUrl"}}>
</div>
<br>
{{model.type}}
{{model.timePrep}}
{{model.timeCook}}
{{model.temp}}
<br>
{{model.yieldQty}}
<button name="adjustQty">Adjust Quantity</button>
<br>
<ul>
{{#each ingredient in model.ingredients}}
  <li>
    {{ingredient.quantity}}x
    {{#if ingredient.isItem }}
      {{ingredient.name}}
    {{else}}
      {{ingredient.units}} {{ingredient.name}}
    {{/if}}
  </li>
{{/each}}
</ul>
<br>

<ul>
  {{#each step in model.steps}}
  <li>
    {{step}}
  </li>
  {{/each}}
</ul>
<br>
<button{{action "editRecipe"}}>Edit Recipe</button>
